@import 'layout.scss';
@font-face {
    font-family: 'wc_mano_negra_btaregular';
    src: url('../fonts/wcmanonegrabta_regular_macroman/WCManoNegraBta-webfont.woff');
    font-weight: normal;
    font-display: swap;
    font-style: normal;

}
body {
  font-family: 'Aleo', serif;
  color: $primaryColor;
}
 
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.ba-header {
  background-color: #fff;
  height: 111px;
  display: flex;
  align-items: center;
  &-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
.ba-logo {
  font-family: 'wc_mano_negra_btaregular', serif;
  font-size: 50px;
  text-decoration: none;
  color: inherit;
  span {
    color: $red;
  }
}
.ba-menu {
  display: flex;
  align-items: center;
  list-style: none;
  .ba-has-submenu {
    position: relative;
    .ba-sub-menu {
      position: absolute;
      visibility: hidden;
      display: none;
      min-width: 200px;
      opacity: 0;
      background-color: rgb(173, 166, 166);
      padding: 0 10px;
      border: 1px solid #000;
      border-radius: 5px;

      .ba-menu__item {
        width: 100%;
        border-bottom: 1px solid #000;
        text-transform: uppercase;
        margin: 1vh 0;
        margin-left: 0;
        padding: 5px 0;

        &:hover {
          color: #fff;
          border-color: rgb(224, 221, 221);
        }
      }
      .ba-menu__item:last-child {
        position: relative;
      }
      
    }
    &:hover .ba-sub-menu {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      visibility: visible;
      opacity: 1;
    }
  }
  .ba-sub {
    position: absolute;
    visibility: hidden;
    display: none;
    min-width: 150px;
    opacity: 0;
    background-color: rgb(173, 166, 166);
    padding: 0 10px;
    border: 1px solid #000;
    border-radius: 5px;
    .ba-menu__item {
      color: brown;
      &:hover {
          color: gray;
          border-color: rgb(184, 179, 179);
        }
    }
    .ba-menu__item::last-child {
      position: relative;
    }
  }
  .visible:hover .ba-sub {
    position: absolute;
    top: 0;
    left: 95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    visibility: visible;
    opacity: 1;
    color: #fff;
  }
  .ba-sub-m {
    position: absolute;
    visibility: hidden;
    display: none;
    min-width: 150px;
    opacity: 0;
    background-color: rgb(173, 166, 166);
    padding: 0 10px;
    border: 1px solid #000;
    border-radius: 5px;
    .ba-menu__item {
      color: yellow;
    }
    .ba-menu__item:last-child {
      position: relative;
    }
  }
 
  .visit:hover .ba-sub-m {
    position: absolute;
    top: 55%;
    left: 95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    visibility: visible;
    opacity: 1;
    color: #fff;
  }
  .ba-sub-b {
    position: absolute;
    visibility: hidden;
    display: none;
    min-width: 150px;
    opacity: 0;
    background-color: rgb(173, 166, 166);
    padding: 0 10px;
    border: 1px solid #000;
    border-radius: 5px;
    .ba-menu__item {
      color: green;
    }
    .ba-menu__item:last-child {
      position: relative;
    }
  }
  .line:hover .ba-sub-b {
    position: absolute;
    top: 30%;
    left: 95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    visibility: visible;
    opacity: 1;
  }
  .ba-sub-pizza {
    position: absolute;
    visibility: hidden;
    display: none;
    min-width: 150px;
    opacity: 0;
    background-color: rgb(173, 166, 166);
    padding: 0 10px;
    border: 1px solid #000;
    border-radius: 5px;
    .ba-menu__item {
      color: blue;
    }
    .ba-menu__item:last-child {
      position: relative;
    }
  }
  .pizza:hover .ba-sub-pizza {
    position: absolute;
    top: 5%;
    left: 95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    visibility: visible;
    opacity: 1;
  }



  &__item + &__item {
    margin-left: 40px;
  }
  
  &__link {
    position: relative;
    color: inherit;
    text-decoration: none;
    font-size: 0.875em;
    transform: opacity .4s;
    outline-color: $red;
    &:hover {
      opacity: 0.75;
    }
  }
}
// start hero
.ba-hero {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 187px);
  text-align: center;
  color: #fff;
  background: {
    image: url(../images/Layer1.jpg);
    color: darken($red, 10%);
    size: cover;
    repeat: no-repeat;
  }
  &__title {
    font-family: 'wc_mano_negra_btaregular', serif;
    font-size: 6.25rem;
    margin: 0;
  }
  &__desc {
    position: relative;
    max-width: 50%;
    padding: 0 86px;
    margin: 0 auto;
    &::before, &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
      width: 40px;
      height: 1px;
      background-color: #fff;
    }

    &::after {
      left: auto;
      right: 20px;
    }
  }

}
// ba-section-menu
.ba-section-menu {
  border-top: 4px solid $red;
  text-align: center;

  &__title {
    background-color: #f34949;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    margin: 0;
    padding: 0 1.25em;
    color: #fff;
    line-height: 1;
    min-height: 72px;
  }
}
.ba-menu {

  &-list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align-last: left;
    margin-bottom: 4.375rem;
    list-style: none;
    margin-top: 80px;
  }

  &-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: calc(50% - 44px);
    margin-bottom: 3em;
    &::before {

      content: '';
      position: absolute;
      height: 1px;
      right: 70px;
      left: 0;
      top: 10px;
      background-color: #e3e1e1;
    }
    &__info {
      background-color: #fff;
      position: relative;
      padding-right: 20px;
    }
    &__title {
      margin: 0;
      font-size: 1rem;
      line-height: 1.75;
      color: $secondaryColor;
      letter-spacing: .05em;
    }
    &__desc {
      margin-top: 0;
      color: #b7b7b7;
      font-style: italic;
      font-weight: 300;
      font-size: 0.75rem;
    }
    &__price {
      @extend .ba-menu-item__title;
    }
  }
  
}
.ba-btn {
  display: inline-flex;
  background-color: transparent;
  color: #d7d5d5;
  border: 1px solid currentColor;
  height: 2rem;
  align-items: center;
  font-size: 0.875rem;
  padding: 0 1em;
  letter-spacing: .07em;
  &__arrow {
    margin-left: .75rem;
    padding-left: .75rem;
    border-left: 1px solid currentColor;
  }
}